nav.menu{
    height: 48px;
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    box-shadow: 0 1px 2px rgba(99, 99, 99, 0.3);
}
nav.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav.menu ul li{
    margin-left: 12px;
    margin-right: 12px;
    display: inline-block;
}
nav.menu ul li > .item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 48px;
}


body {
    font-family: 'robotolight';
}
